name: Java CI with Maven
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name:  Install Google Chrome # Using shell script to install Google Chrome
      run:   |
        chmod +x ./scripts/InstallChrome.sh
                   ./scripts/InstallChrome.sh

    - name: Build with Maven
      run: mvn clean test

    - name: Commit Files Report # transfer the new html files back into the repository
      run: |
        git config --local user.name "sucinm"
        git add ./report
        git commit -m "Updating the repository report"
    
    - name: Push changes # push the output folder to your repo
      uses: ad-m/github-push-action@v0.6.0
      with:
        github_token: ${{ secrets.KEY }}
        force: true
